<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="tertiary">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-lists></app-lists>
    <ion-list>
        <ion-item (click)="watchList( list.id )" *ngFor="let list of lists" detail>
            <ion-label>{{ list.title }}</ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="addList()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>